<!DOCTYPE html>
<html lang="vn">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart Detail</title>
  </head>
  <body>
    <!-- Cart Detail -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
          <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
              <tr>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng cộng</th>
                <th>Xóa</th>
              </tr>
            </thead>
            <tbody class="align-middle">
              <tr>
                <td class="align-middle">
                  <img src="../../img/product-1.jpg" alt="" style="width: 50px" />Áo
                  sơ mi sành điệu đầy màu sắc
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="1"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <button class="btn btn-sm btn-primary">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <img src="../../img/product-2.jpg" alt="" style="width: 50px" />Áo
                  sơ mi sành điệu đầy màu sắc
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="1"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <button class="btn btn-sm btn-primary">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <img src="../../img/product-3.jpg" alt="" style="width: 50px" />Áo
                  sơ mi sành điệu đầy màu sắc
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="1"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <button class="btn btn-sm btn-primary">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <img src="../../img/product-4.jpg" alt="" style="width: 50px" />Áo
                  sơ mi sành điệu đầy màu sắc
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="1"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <button class="btn btn-sm btn-primary">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td class="align-middle">
                  <img src="../../img/product-5.jpg" alt="" style="width: 50px" />Áo
                  sơ mi sành điệu đầy màu sắc
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <div
                    class="input-group quantity mx-auto"
                    style="width: 100px"
                  >
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-minus">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <input
                      type="text"
                      class="form-control form-control-sm bg-secondary text-center"
                      value="1"
                    />
                    <div class="input-group-btn">
                      <button class="btn btn-sm btn-primary btn-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td class="align-middle">$150</td>
                <td class="align-middle">
                  <button class="btn btn-sm btn-primary">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4">
          <form class="mb-5" action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control p-4"
                placeholder="Mã giảm giá"
              />
              <div class="input-group-append">
                <button class="btn btn-primary">Áp dụng</button>
              </div>
            </div>
          </form>
          <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
              <h4 class="font-weight-semi-bold m-0">Thanh toán</h4>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">Tổng tiền hàng</h6>
                <h6 class="font-weight-medium">$150</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Phí vận chuyển</h6>
                <h6 class="font-weight-medium">$10</h6>
              </div>
            </div>
            <div class="card-footer border-secondary bg-transparent">
              <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Tổng thanh toán</h5>
                <h5 class="font-weight-bold">$160</h5>
              </div>
              <button class="btn btn-block btn-primary my-3 py-3">
                Thanh toán
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart Detail -->
    <!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="../../lib/easing/easing.min.js"></script>
	<script src="../../lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="../../mail/jqBootstrapValidation.min.js"></script>
	<script src="../../contact.js"></script>

	<!-- Template Javascript -->
	<script src="../../js/main.js"></script>
  </body>
</html>
