<!DOCTYPE html>
<html lang="vn">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
</head>

<body>
	<p>
	<div class="container-fluid py-5">
		<div class="row px-xl-5">
			<div class="col-lg-5 pb-5">
				<div id="product-carousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner border">
						<div class="carousel-item active">
							<img class="w-100 h-100" src="../../img/product-1.jpg" alt="Image" />
						</div>
						<div class="carousel-item">
							<img class="w-100 h-100" src="../../img/product-2.jpg" alt="Image" />
						</div>
						<div class="carousel-item">
							<img class="w-100 h-100" src="../img/product-3.jpg" alt="Image" />
						</div>
						<div class="carousel-item">
							<img class="w-100 h-100" src="../../img/product-4.jpg" alt="Image" />
						</div>
					</div>
					<a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
						<i class="fa fa-2x fa-angle-left text-dark"></i>
					</a>
					<a class="carousel-control-next" href="#product-carousel" data-slide="next">
						<i class="fa fa-2x fa-angle-right text-dark"></i>
					</a>
				</div>
			</div>

			<div class="col-lg-7 pb-5">
				<h3 class="font-weight-semi-bold">Áo sơ mi sành điệu đầy màu sắc</h3>
				<div class="d-flex mb-3">
					<div class="text-primary mr-2">
						<small class="fas fa-star"></small>
						<small class="fas fa-star"></small>
						<small class="fas fa-star"></small>
						<small class="fas fa-star-half-alt"></small>
						<small class="far fa-star"></small>
					</div>
					<small class="pt-1">(50 Reviews)</small>
				</div>
				<h3 class="font-weight-semi-bold mb-4">$150.00</h3>
				<p class="mb-4">
					Chi tiết Sản phẩm Áo sơ mi tay dài TILAA FASHION phối màu trắng đen phong cách Hàn Quốc cho nam AS02
					<br>– Chất liệu vải lụa đẹp , không xù , không co rút , mềm mịn dày dặn , hút mồ hôi cực nhanh, mặc
					siêu
					mát .
					<br>– Đảm bảo 100% cho sức khỏe người dùng.
					<br>– Đây là món đồ một tủ quần áo cần phải có.Bạn có thể mặc nó hàng ngày.Phong cách thời trang
					đường
					phố.
					<br>– Thiết kế mới, hiện đại, năng động, streetwear
				</p>
				<div class="d-flex mb-3">
					<p class="text-dark font-weight-medium mb-0 mr-3">Sizes:</p>
					<form>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="size-1" name="size" />
							<label class="custom-control-label" for="size-1">XS</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="size-2" name="size" />
							<label class="custom-control-label" for="size-2">S</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="size-3" name="size" />
							<label class="custom-control-label" for="size-3">M</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="size-4" name="size" />
							<label class="custom-control-label" for="size-4">L</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="size-5" name="size" />
							<label class="custom-control-label" for="size-5">XL</label>
						</div>
					</form>
				</div>
				<div class="d-flex mb-4">
					<p class="text-dark font-weight-medium mb-0 mr-3">Colors:</p>
					<form>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="color-1" name="color" />
							<label class="custom-control-label" for="color-1">Black</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="color-2" name="color" />
							<label class="custom-control-label" for="color-2">White</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="color-3" name="color" />
							<label class="custom-control-label" for="color-3">Red</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="color-4" name="color" />
							<label class="custom-control-label" for="color-4">Blue</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="color-5" name="color" />
							<label class="custom-control-label" for="color-5">Green</label>
						</div>
					</form>
				</div>
				<div class="d-flex align-items-center mb-4 pt-2">
					<div class="input-group quantity mr-3" style="width: 130px">
						<div class="input-group-btn">
							<button class="btn btn-primary btn-minus">
								<i class="fa fa-minus"></i>
							</button>
						</div>
						<input type="text" class="form-control bg-secondary text-center" value="1" />
						<div class="input-group-btn">
							<button class="btn btn-primary btn-plus">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					<button class="btn btn-primary px-3">
						<i class="fa fa-shopping-cart mr-1"></i> Thêm vào giỏ hàng
					</button>
				</div>
				<div class="d-flex pt-2">
					<p class="text-dark font-weight-medium mb-0 mr-2">Chia sẻ:</p>
					<div class="d-inline-flex">
						<a class="text-dark px-2" href="">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a class="text-dark px-2" href="">
							<i class="fab fa-twitter"></i>
						</a>
						<a class="text-dark px-2" href="">
							<i class="fab fa-linkedin-in"></i>
						</a>
						<a class="text-dark px-2" href="">
							<i class="fab fa-pinterest"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row px-xl-5">
			<div class="col">
				<div class="nav nav-tabs justify-content-center border-secondary mb-4">
					<a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
					<a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
					<a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>
				</div>
				<div class="tab-content">
					<div class="tab-pane fade show active" id="tab-pane-1">
						<h4 class="mb-3">Product Description</h4>
						<p>
							<br>+ Cam kết chất lượng và mẫu mã sản phẩm giống với hình ảnh.
							<br>+ Hàng phải còn mới và chưa qua sử dụng
							<br>+ Sản phẩm bị lỗi do vận chuyển và do nhà sản xuất
							<br>– Nếu bạn không chắc mình mặc size bao nhiêu, bạn có thể nói về việc cung cấp cho chúng
							tôi
							chiều cao và cân nặng của bạn, chúng tôi sẽ tư vấn chuyên nghiệp cho bạn.
							<br>– Nếu bạn có nhu cầu đặc biệt về sản phẩm đã mua, hoặc có bất kỳ câu hỏi nào, vui lòng
							cho
							biết câu hỏi và nhu cầu của bạn trong đơn hàng sau khi đặt hàng. Chúng tôi sẽ xử lý nó ngay
							sau khi chúng tôi nhìn thấy nó.
						</p>
						<p>
							Cám ơn bạn một lần nữa
						</p>
					</div>
					<div class="tab-pane fade" id="tab-pane-2">
						<!-- <h4 class="mb-3">Additional Information</h4>
						<p>
							Eos no lorem eirmod diam diam, eos elitr et gubergren diam sea.
							Consetetur vero aliquyam invidunt duo dolores et duo sit. Vero
							diam ea vero et dolore rebum, dolor rebum eirmod consetetur
							invidunt sed sed et, lorem duo et eos elitr, sadipscing kasd
							ipsum rebum diam. Dolore diam stet rebum sed tempor kasd eirmod.
							Takimata kasd ipsum accusam sadipscing, eos dolores sit no ut
							diam consetetur duo justo est, sit sanctus diam tempor aliquyam
							eirmod nonumy rebum dolor accusam, ipsum kasd eos consetetur at
							sit rebum, diam kasd invidunt tempor lorem, ipsum lorem elitr
							sanctus eirmod takimata dolor ea invidunt.
						</p> -->
						<div class="row">
							<div class="col-md-6">
								<ul class="list-group list-group-flush">
									<li class="list-group-item px-0">
										Trọng lượng
									</li>
									<li class="list-group-item px-0">
										Kích thước
									</li>
									<li class="list-group-item px-0">
										Nơi Bán
									</li>
									<li class="list-group-item px-0">
										Kích thước
									</li>
									<li class="list-group-item px-0">
										Cổ áo
									</li>
									<li class="list-group-item px-0">
										Kiểu cổ áo
									</li>
									<li class="list-group-item px-0">
										Phong cách
									</li>
									<li class="list-group-item px-0">
										Xuất xứ
									</li>
									<li class="list-group-item px-0">
										Kiểu cổ tay áo
									</li>
									<li class="list-group-item px-0">
										Chất liệu
									</li>
									<li class="list-group-item px-0">
										Màu sắc
									</li>
									<li class="list-group-item px-0">
										Chiều dài tay áo
									</li>
									<li class="list-group-item px-0">
										Rất lớn
									</li>
									<li class="list-group-item px-0">
										Dịp
									</li>
									<li class="list-group-item px-0">
										Địa chỉ tổ chức chịu trách nhiệm sản xuất
									</li>
									<li class="list-group-item px-0">
										Tên tổ chức chịu trách nhiệm sản xuất
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="list-group list-group-flush">
									<li class="list-group-item px-0">
										10 kg
									</li>
									<li class="list-group-item px-0">
										10 x 10 x 10 cm
									</li>
									<li class="list-group-item px-0">
										Hà Nội
									</li>
									<li class="list-group-item px-0">
										<a href="https://hazomi.com/kich-thuoc/2xl/" rel="tag">2XL</a>, <a
											href="https://hazomi.com/kich-thuoc/l/" rel="tag">L</a>, <a
											href="https://hazomi.com/kich-thuoc/m/" rel="tag">M</a>, <a
											href="https://hazomi.com/kich-thuoc/xl/" rel="tag">XL</a>
									</li>
									<li class="list-group-item px-0">
										Cổ sơ mi
									</li>
									<li class="list-group-item px-0">
										Spread Collar
									</li>
									<li class="list-group-item px-0">
										Hàn Quốc
									</li>
									<li class="list-group-item px-0">
										Việt Nam
									</li>
									<li class="list-group-item px-0">
										Barrel Cuff
									</li>
									<li class="list-group-item px-0">
										Khác
									</li>
									<li class="list-group-item px-0">
										Khác
									</li>
									<li class="list-group-item px-0">
										Dài tay
									</li>
									<li class="list-group-item px-0">
										Không
									</li>
									<li class="list-group-item px-0">
										Hằng Ngày
									</li>
									<li class="list-group-item px-0">
										My Thượng, Thanh Mai, Thanh Oai, Hà Nội
									</li>
									<li class="list-group-item px-0">
										Xưởng May Anh Châu
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab-pane-3">
						<div class="row">
							<div class="col-md-6">
								<h4 class="mb-4">1 nhận xét "Áo sơ mi sành điệu đầy màu sắc"</h4>
								<div class="media mb-4">
									<img src="../../img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1"
										style="width: 45px" />
									<div class="media-body">
										<h6>
											Việt Hùng<small> - <i>28 11 2022</i></small>
										</h6>
										<div class="text-primary mb-2">
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star"></i>
											<i class="fas fa-star-half-alt"></i>
											<i class="far fa-star"></i>
										</div>
										<p>
											Sản phẩm rất chất lượng, nice!!!!!
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<h4 class="mb-4">Để lại bình luận</h4>
								<small>Your email address will not be published. Required fields
									are marked *</small>
								<div class="d-flex my-3">
									<p class="mb-0 mr-2">Đánh giá của bạn * :</p>
									<div class="text-primary">
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									</div>
								</div>
								<form>
									<div class="form-group">
										<label for="message">Đánh giá *</label>
										<textarea id="message" cols="30" rows="5" class="form-control"></textarea>
									</div>
									<div class="form-group">
										<label for="name">Tên của bạn *</label>
										<input type="text" class="form-control" id="name" />
									</div>
									<div class="form-group">
										<label for="email">Email *</label>
										<input type="email" class="form-control" id="email" />
									</div>
									<div class="form-group mb-0">
										<input type="submit" value="Để lại đánh giá của bạn"
											class="btn btn-primary px-3" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</p>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
	<script src="../lib/easing/easing.min.js"></script>
	<script src="../lib/owlcarousel/owl.carousel.min.js"></script>

	<!-- Contact Javascript File -->
	<script src="../mail/jqBootstrapValidation.min.js"></script>
	<script src="../mail/contact.js"></script>

	<!-- Template Javascript -->
	<script src="../js/main.js"></script>
</body>

</html>