.card-container {
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100vh;
        overflow: scroll;
        margin-left: 20px;
        margin-top: -50px;
        margin-bottom: -220px;
    }

    .card-frame {
        overflow: auto;
        overflow: -moz-hidden-unscrollable;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0 !important;
            display: none;
        }
    }
}